<%= @asset_data.name %>:
  name: <%= @asset_data.name %>
  primary_group: <%= @asset_data.mutable.primary_group %>
  secondary_group: <%= @asset_data.mutable.secondary_groups %>
  info: |
    # Sections
    
    <% if imported? %>
    1. [System](#system)
    1. [Network Devices](#network-devices)
    1. [Disks](#disks)
    <% end %>
    <% if @asset_data.mutable.notes -%>1. [Notes](#notes)<% end -%>
    <% if select_bios %>1. [BIOS Information](#bios-information)<% end %>

<% if imported? %>
    # System <a name="system"></a>
    
    ## Model
    
    <%= @asset_data.lshw.list.node.product %>

    ## BIOS Version

    <%= find_hashes_with_key_value(@asset_hash, 'id', 'firmware')&.first['version'] %>

    ## System Serial Number

    <%= @asset_data.lshw.list.node.serial %>

    ## CPU(s)

    <% cpus.each do |cpu| %>
    ### <%= cpu.id.upcase %>

    Model: <%= cpu.model %>
    Slot: <%= cpu.slot %>

    <% end %>
    ## RAM

    - Total: <%= format_bytes_value(find_total_memory) %>


    # Network Devices <a name="network-devices"></a>

    | Interface | Speed | MAC |
    |-----------|-------|-----|
    <% network_devices.each do |net| %>
    | <%= net.logicalname %> | <%= net.speed %> | <%= net.serial %> |
    <% end %>


    # Disks <a name="disk"></a>

    | Device | Size |
    |--------|------|
    <% @asset_data.lsblk.disk&.each_pair do |disk, values| %>
    | <%= disk %> | <%= values['SIZE'] %> |
    <% end %>

    # GPU(s)

    <% gpus.each_with_index do |gpu, idx| %>
    ## GPU <%= idx %>

    Model: <%= gpu.model %>
    Slot: <%= gpu.handle %>

    <% end %>
<% end %>
    <% if @asset_data.mutable.notes -%>
    # Notes <a name="notes"></a>

    <%= @asset_data.mutable.notes.split("\n").join("\n    ") %>
    <% end -%>

    <% if select_bios %>
    # BIOS Information <a name="bios-information"></a>

    <%= select_bios.split("\n").join("\n    ") %>
    <% end %>

